<!DOCTYPE html>
<html >
<head>
  <title>Restaurant Picker</title>
</head>

<body>
	<h1>Preferences</h1>
<!-- New inputs here
    <form action="{{ url_for('preferences')}}" method="post">
        <input type="text" name="value1" placeholder="Enter the first number" required="required" />
        <select name="operation">
            <option value="addition">+</option>
            <option value="substraction">-</option>
            <option value="multiplication">*</option>
            <option value="division">/</option>
          </select>
        <input type="text" name="value2" placeholder="Enter the second number" required="required" />
        <br>
        <button type="submit" color="green">Find restaurant!</button>
    </form>
-->
   <br>

   {{ printed_result }}

</body>
</html>
